<?xml version="1.0" encoding="utf-8" ?>

<!--template of rms logger configuation-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender_INFO" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value ="c:\rms\logs\%property{ApplicationName}\%property{ApplicationName}-[%processid].INFO.log"/>
      <threshold value="OFF" />
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="14"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[TID: %thread]  %date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    
    <appender name="RollingLogFileAppender_DEBUG" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value ="c:\rms\logs\%property{ApplicationName}\%property{ApplicationName}-[%processid].DEBUG.log"/>
      <threshold value="DEBUG" />
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="14"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[TID: %thread]  %date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingLogFileAppender_WARN" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value ="c:\rms\logs\%property{ApplicationName}\%property{ApplicationName}-[%processid].WARN.log"/>
      <threshold value="WARN" />
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="14"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [CxtId - %property{ContextId}] [CId - %property{ComponentId}] [TID: %thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingLogFileAppender_ERROR" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value ="c:\rms\logs\%property{ApplicationName}\%property{ApplicationName}-[%processid].ERROR.log"/>
      <threshold value="ERROR" />
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="14"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [CxtId - %property{ContextId}][TID: %thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- The appender's logging level is controlled by threshold value, by default it is ALL-->
    <appender name="ColoredConsole" type="log4net.Appender.ColoredConsoleAppender">
      <threshold value="ALL"/>
      <mapping>
        <!-- This is to control the logging level that uses the color console. -->
        <level value="WARN"/>
        <foreColor value="White"/>
        <backColor value="Red, HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%-4timestamp [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [CxtId - %property{ContextId}][TID: %thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender_INFO"/>
    </root>

    <!-- The logger's logging level is controlled by level value.  -->
    <logger name="NGFMPrototype">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender_INFO"/>
    </logger>

    <logger name="PrimaryContractExposureData">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender_INFO"/>
    </logger>

    <logger name="ContractExposureData">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender_INFO"/>
    </logger>
  </log4net>
</configuration>