<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Automation SQL Server details-->
    <add key="SQLServer" value="Ca1Automation2"/>
    <add key="SQLUser" value="sa"/>
    <add key="SQLPwd" value="Rmsuser"/>
    <add key="DbName" value="BETAServiceFramework_Production_Test_12032012"/>
    <add key="ConnectionTimeOut" value="0"/>
    <add key="IsControl" value="1"/>

    <!--Workflow Details-->
    <add key="WorkflowOwner" value="Test"/>
    <add key="WorkflowName" value="Test"/>
    <add key="WorkflowDescription" value="Stress Workflow from WorkflowGenerator for Stress_WF_Dev6_LargeDataSet User CompanyC ImportUser"/>
    <add key="WorkFlowUserName" value="CompanyB\GISUser"/>
    <!--Test Case Creation-->
    <add key="TestCaseOwner" value="Test"/>
    
    
    <!--<add key ="IsInsertPCTestCases" value="true"/>-->
    <!--<add key ="IsInsertEATestCases" value="false"/>-->



    <!--Test Case input file location -->
    <add key="InputXLSFilePath" value="D:\Temp\BETA2TestCaseCreater_Dev6_MEX.xlsx"/>
    <!--<add key="EATestCaseFilePath" value="\Input\EATestCases.xlsx"/>-->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
